version: 2

updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    labels:
      - 'dependencies'

  - package-ecosystem: 'npm'
    directories:
      - '/'
      - '/assets'
    schedule:
      interval: 'daily'
    groups:
      rncli:
        patterns:
          - '@react-native-community/cli*'
      babel:
        patterns:
          - '@babel/*'
      react-native:
        patterns:
          - '@react-native/*'
          - 'react-native'
